<mat-nav-list>
  <a mat-list-item routerLink="/dashboard/home" routerLinkActive="active-link" *ngIf="isAdmin">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>{{ t('nav.home') }}</span>
  </a>
  <a mat-list-item routerLink="/dashboard/employee" routerLinkActive="active-link" *ngIf="isAdmin">
    <mat-icon matListItemIcon>people</mat-icon>
    <span matListItemTitle>{{ t('nav.employees') }}</span>
  </a>
  <a mat-list-item routerLink="/dashboard/schedule" routerLinkActive="active-link" *ngIf="isAdmin">
    <mat-icon matListItemIcon>schedule</mat-icon>
    <span matListItemTitle>{{ t('nav.schedules') }}</span>
  </a>
  <a mat-list-item routerLink="/dashboard/attendance" routerLinkActive="active-link">
    <mat-icon matListItemIcon>fingerprint</mat-icon>
    <span matListItemTitle>{{ t('nav.attendance') }}</span>
  </a>
  <a mat-list-item routerLink="/dashboard/attendance/audit" routerLinkActive="active-link" *ngIf="isAdmin">
    <mat-icon matListItemIcon>rule</mat-icon>
    <span matListItemTitle>{{ t('nav.audit') }}</span>
  </a>
  <a mat-list-item routerLink="/dashboard/settings" routerLinkActive="active-link" *ngIf="isAdmin">
    <mat-icon matListItemIcon>settings</mat-icon>
    <span matListItemTitle>{{ t('nav.settings') }}</span>
  </a>
</mat-nav-list>
